
/*.signInContainer {
    top: 40%;
    left: 50%;
    width:30em;
    height:18em;
    margin: auto; 
    margin-top: 25px;
    padding: 5px;
    border: 2px solid gray;
    background-color:whitesmoke;
    font-family: "HCo Verlag","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
} */

.form{
text-align: center;
align-self: baseline;

 /* background-color: pink; */
   
}
.signin {
    font-size: 50px;
    font-family: "HCo Verlag","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
    text-align: center;
}
.signup {
    font-size: 30px;
    font-family: "HCo Verlag","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
    text-align: center;
    margin-top: -40px;

} 
button{
    background-color: #b7bec2;
    font-family: "HCo Verlag","CenturyGothic",AppleGothic,Gill Sans,Gill Sans MT,sans-serif;
    text-align: center;
    margin-bottom: 10px;
}

.input {
    background-color: blue;
}

.silogo {
    background-color: cornflowerblue;
}
