
/* .signInContainer {
    top: 40%;
    left: 50%;
    width:30em;
    height:18em;
    margin: auto; 
    margin-top: 25px;
    padding: 5px;
    border: 2px solid gray;
    background-color:whitesmoke;
} */

.form{
    margin-left: 45%;
   
}
.signin {
    font-size: 60px;
}
.signup {
    font-size: 35px;
    margin-right: 50% !important;
} 
button{
    background-color: #91a2aa;
}