h3, h6 {
    text-align: center;
margin-bottom: 50px;
}

.control-label {
    margin-left: 25px;
}

.assessmentForm {
    border: 1px solid #fac82d;
    padding: 3px;
    margin-top: 75px;
}

form {
    margin: auto;
    width: 50%;
    height: 500px;
    padding: 3px;
}

button {
    background-color: #40484b;
}

.assessmentResults {
    border: 1px solid #fac82d;
    margin: auto;
    /* width: 50%; */
    height: 620px;
    padding: 30px;
    margin-top: 75px;
    margin-bottom: auto;
}

.form-control {
    display: inline;
    margin-left: 25px;
}

.iframe {
    text-align: center;
}

.flfeaturessam {

    background-color: #fac82d;
    text-align: center;
    margin-top: 60px;
    padding: 30px;
    margin-bottom: 0px;
    color: white;
    letter-spacing: 1px;
}

.BMI {
    margin-top: 50px;
}