
.memname {
color: #40484b;
/* background-color: yellow; */
font-size: 24px;
text-align: center;
margin-top: -10px;
margin-left: -50px;
}

.memberimg {
   padding: 0px;
   margin-bottom: -0px;
   margin-left: 90px;
}

.membercopy p {
   text-align: left;
   /* background-color: aquamarine;   */
   margin-top: -40px;
  margin-left: 40px;

   font-size: 16px;
}

.ourTeam {
    background-color: null;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 50px;
}

.text-center2 {
    /* background-color: burlywood; */
    margin-top:80px;
    text-align: center;

} 

#teamcol {
    /*background-color: aquamarine; */
    align-content: center;
    margin-bottom: 20px;
    align-items: center;
}

.img {
    align-items: center;
    text-align: center;
    margin-left: 500px;
}

.kim {
    align-items: center;
    text-align: center;
    margin-left: 200px;
}

.memberhr{
    padding: 0px;
    display: block;
    overflow: hidden;
    border: solid .5px gainsboro;
    margin-bottom: 20px;
    margin-top: 30px;
    width: 80%;
    margin-right: 90px;
  }