h4 {
    text-align: center;
}

.signUpContainer {
    top: 40%;
    left: 50%;
    width:30em;
    height:26em;
    margin: auto; 
    margin-top: 25px;
    padding: 5px;
    border: 2px solid gray;
    background-color:whitesmoke;
}