h4 {
    text-align: center;
}

.signUpContainer {
    top: 40%;
    left: 50%;
    width:30em;
    height: 30em;
    margin: auto; 
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 50px;
    border: 0px solid gray;
    background-color:#fcc900;
}

.signUpHeader {
margin-top: 20px;
}
/* 
.signUpContainer {
    background-image: 
} */