/* this is the band above the footer - don't understand what purpose it serves but using it currently as a color band */
.footer {
  min-height: 50px;
  background:#fbc800;
  position: relative;
  font-size: 14pt;
}

.footer span {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 3px;
  background: white;
  text-align: center;
}
