  /* This is VIP */

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    /* background-color: rgb(243, 240, 240); */
  }

  /* This VIP */

  .item {
    position: relative;
    display: flex;
    height: 300px;
    width: 400px;
    margin: 20px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  /* VIP for not warping image size */

  .thumb {
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
  }

  /* This is VIP - holds the overlay controls */

  .blog-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
    background-color: #fbc800; 
    /*border-radius: 5px; */
  }

  /*  Need this or overlay goes away altogether */

  .item:hover .blog-overlay {
    height: 100%;
    opacity: 1;
  }

  /* This changed the placement of all the text on overlay - VIP */

  .text {
    white-space: nowrap;
    color: white;
    color: #40484b;
    font-size: 20px;
    text-align: center;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* background-color: pink; */
  }

  .blogh3, h3 {

    font-size: 30px;
    font-family: "HCo Verlag", "CenturyGothic", AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    font-weight: 150;
    letter-spacing: -.5pt;
  }

  .blogp {
    font-family: "HCo Verlag", "CenturyGothic", AppleGothic, Gill Sans, Gill Sans MT, sans-serif;
    font-weight: 150;
    letter-spacing: -.5pt;
  }
/* 
  .pcopy, p {
    color: white;
  } */
